*{
      padding: 0;
      margin: 0;
}
.max-width{
      max-width: 1140px;
      margin: 0 auto;
}
header{
      background-color: #E554731A;
}
.banner-section{
      display: flex;
      align-items: center;
      padding-top: 30px ;
      gap: 319px;
}
header h1{
      color: #272727;
      font-family: Lato;
      font-size: 45px;
      font-style: normal;
      font-weight: 800;
}
header p{
      color: rgba(39, 39, 39, 0.60);
      font-family: Lato;
      font-size: 15px;
      line-height: 24px;
      padding: 20px 0; 
}
button{
      padding: 20px 43px;
      border-radius: 8px;
      background: #E55473;
      border: none;
      color: #fff;
      font-size: 18px;
}
/* instagram-section */
.instagram-section{
      text-align: center;
      padding: 70px 0;
}
.instagram-section h2{
      color: #272727;
      text-align: center;
      font-family: Lato;
      font-size: 35px;
      font-weight: 800;
}
.instagram-section P{
      color: rgba(39, 39, 39, 0.60);
      text-align: center;
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px; 
      padding: 20PX 0;
}
/* future-instagram-Img-section */
.instagram-Img-section{
      display: flex;
      justify-content: space-between;
      gap: 20px;
}
.instagram-Img-box1 {
      background: rgba(167, 33, 98, 0.15);
      border-radius: 206px 205px 0 0;
      width: 464px;
      height: 518px;
  }
.instagram-Img-box2 {
      background: rgba(5, 151, 160, 0.15);
      border-radius: 206px 205px 0 0;
      width: 464px;
      height: 518px;
  }
.instagram-Img-box3 {
      background: rgba(71, 125, 17, 0.15);
      border-radius: 206px 205px 0 0;
      width: 464px;
      height: 518px;
  }
  
.instagram-Img-box-img{
            width: 70%;
            margin-top: 164px;
}
.third-flower{
      margin-top: 133px;
}
/* anker-section */
.anker-sectioon{
      display: flex;
      justify-content: space-around;
      padding: 30px 0;
      font-size: 20px;
      font-family: lato;
      font-weight:700 ;
}
/* service-section */
.service-section{
      border-radius: 8px;
      background: rgba(39, 39, 39, 0.05);
      padding: 100px 0;
      gap: 30px;
      display: flex;
      justify-content: space-around;
}
.diver{
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      padding: 20px 0;
}
.diver p{
      padding-top: 20px;
} 
/* discount-section */
.discount{
      background: rgba(229, 84, 115, 0.05); 
      margin-top: 100px;
      margin-bottom: 50px;     
}
.discount-section {
      padding: 80px 0;
      display: flex;
      align-content: flex-start;
      justify-content: space-around;
      align-items: center;
  }
.discount-section h2{
      color: #272727;
      font-family: Lato;
      font-size: 40px;
      font-weight: 800;
}
.discount-section p{
      color: rgba(39, 39, 39, 0.60);
      text-align: center;
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px; 
      padding: 24px 0;
}
.discount-detile{
      text-align: center;
}
/* future-instagram-section */
.future-instagram-section{
      display: flex;
      justify-content: space-around;
      gap: 24px;
}
.future-instagram-section img{
      height: 300px;
     
}